/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

/*@font-face {
  font-family: 'Prime-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Prime-Light'), url('../fonts/prime/Prime-Light.ttf') format('truetype');
}
body {
  font-family: 'Prime-Light';
}*/

@font-face {
  font-family: 'Prime-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Prime-Regular'), url('../fonts/prime/Prime-Regular.ttf') format('truetype');
}
body, h1, h2, h3, h4 {
  font-family: 'Prime-Regular';
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


