<ul class="pagination">
    <li class="current"><a title="Drafts" href="{{{urlRoot}}}drafts/">Drafts</a></li>
</ul>

<ol class="posts">
    {{#rows}}
    {{#value}}
    <li>
        <article>
            <a href="{{{urlRoot}}}drafts/{{_id}}"><h3 class="h">{{title}}</h3></a>
            <ul class="inline-list">
                {{#attachments}}
                <li><a href="{{{urlRoot}}}api/{{_id}}/{{filename}}" title="{{filename}}"><i class="foundicon-paper-clip"></i></a></li>
                {{/attachments}}
                <li><time pubdate datetime="{{created_at}}" class="pubdate">{{created_at_from_now}}</time></li>
                {{#tags}}
                <li><span class="secondary label">{{.}}</span></li>
                {{/tags}}
            </ul>
        </article>
    </li>
    {{/value}}
    {{/rows}}
</ol><!--/.posts-->
