<ul class="pagination">
    <li class="current"><a title="Writings" href="{{{urlRoot}}}posts/">Writings</a></li>
</ul>

<ol class="posts">
    {{#rows}}
    {{#value}}
    <li>
        <article>
            <a href="{{{urlRoot}}}posts/{{_id}}"><h3 class="h">{{title}}</h3></a>
            <ul class="inline-list">
                <li><time pubdate datetime="{{created_at}}" class="pubdate">{{created_at_from_now}}</time></li>
                {{#tags}}
                <li><span class="secondary label">{{.}}</span></li>
                {{/tags}}
            </ul>
        </article>
    </li>
    {{/value}}
    {{/rows}}
</ol><!--/.posts-->
